@use "../../sass/components/colors" as c;

header {
}

main {
  padding-bottom: 130px;
}

.layout-wrapper {
  min-height: 100vh;
  background: lightblue;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
}

.main-with-thumbnail {
  position: relative;
  .thumbnail-background {
    position: absolute;
    z-index: -1;
    top: -5%;
    left: -5%;
    width: 105%;
    height: 105%;
    filter: blur(30px) brightness(70%);
  }
}
