@use "../../sass/components/colors" as c;

header {
}

main {
  padding-bottom: 130px;
  flex-shrink: 1;
  overflow-y: overlay;
  // scrollbar-gutter: "auto | stable && both-edges?";
}

.layout-wrapper {
  min-height: 100vh;
  z-index: -2;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
}

.main-with-thumbnail {
  position: relative;
  .thumbnail-background {
    position: absolute;
    z-index: -1;
    top: -20%;
    left: -20%;
    width: 120%;
    height: 120%;
    filter: blur(30px) brightness(70%);
  }
}
