@use "../../sass/components/colors" as c;

.custom-input {
  position: relative;
}

.form-input:focus,
.form-input:active {
  outline: none;
  -webkit-appearance: none;
  box-shadow: none;
}

label {
  font-size: 36px;
  text-transform: uppercase;
}

.form-input {
  height: 45px;
}

.positive-label {
  color: c.$secondaryColor;
}

.negative-label {
  color: c.$lightColor;
}

.positive-input {
  color: c.$secondaryColor;
  background: "white";
  border: 2px solid c.$grayColor;
}

.negative-input {
  color: c.$lightColor;
  background: c.$lightColor20;
  border: 2px solid c.$lightColor;
}

.custom-upload-input {
  position: absolute;
  width: 95%;
  top: 36px;
  height: 45px;
}

.positive-custom-upload-input {
  border: 2px solid c.$grayColor;
  background: c.$grayColor;
}

.negative-custom-upload-input {
  border: 2px solid c.$lightColor;
  background: c.$lightColor;
}

.negative-input::placeholder {
  color: c.$lightColor60;
}

// Actual input
.upload-input {
  opacity: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
}

.error-msg {
  color: #ab1515;
}
