@use "../../sass/components/colors" as c;

.custom-btn {
  transition: 0.3s;
  width: fit-content;
  min-height: 35px;
  i {
    font-size: 24px;
  }
}

// Large button
.large-btn {
  padding: 0px 14px;
  font-weight: bold;
}

.positive-primary-btn,
.positive-secondary-btn,
.danger-btn {
  text-transform: uppercase;
}

.positive-primary-btn,
.positive-secondary-btn:hover {
  color: c.$secondaryColor;
  background: c.$lightColor;
  border: 2px solid c.$secondaryColor;
}

.positive-primary-btn:hover,
.positive-secondary-btn {
  color: c.$lightColor;
  background: c.$secondaryColor;
  border: 2px solid c.$secondaryColor;
}

.positive-primary-btn:focus,
.positive-secondary-btn:focus {
  background: c.$grayColor;
}

.negative-primary-btn,
.negative-secondary-btn:hover {
  color: c.$lightColor;
  background: c.$lightColor20;
  border: 2px solid c.$lightColor20;
}

.negative-primary-btn:hover,
.negative-secondary-btn {
  color: c.$primaryColor;
  background: c.$lightColor;
  border: 2px solid c.$lightColor;
}

.negative-primary-btn:focus,
.negative-secondary-btn:focus {
  border: 2px solid c.$lightColor;
}

.danger-btn {
  color: c.$darkDangerColor;
  border: 2px solid c.$darkDangerColor;
}

.danger-btn:hover {
  color: c.$lightColor;
  background: c.$darkDangerColor;
  border: 2px solid c.$darkDangerColor;
}

.danger-btn:focus {
  background: c.$lightDangerColor;
}

// Small button
.follow-btn {
  min-width: 100px;
}

// .small-btn-negative:hover,
.small-btn-positive {
  padding: 5px;
  color: c.$lightColor;
  background: unset;
  border: 2px solid c.$lightColor;
}

// .small-btn-positive:hover,
.small-btn-negative {
  color: c.$secondaryColor;
  background: c.$lightColor;
}

.small-btn-positive:focus,
.small-btn-negative:focus {
  padding: 5px;
}
