@use "../../sass/components/colors" as c;

.custom-btn {
  transition: 0.3s;
  background: unset;
}

// Large button
.large-btn {
  padding: 20px;
}

.positive-primary-btn,
.positive-secondary-btn:hover {
  color: $secondaryColor;
  border: 2px solid c.$secondaryColor;
}

.positive-primary-btn:hover,
.positive-secondary-btn {
  color: c.$lightColor;
  background: c.$secondaryColor;
}

.positive-primary-btn:focus,
.positive-secondary-btn:focus {
  background: c.$grayColor;
}

.negative-primary-btn,
.negative-secondary-btn:hover {
  background: c.$lightColor20;
  color: c.$lightColor;
}

.negative-primary-btn:hover,
.negative-secondary-btn {
  background: c.$lightColor;
  color: c.$primaryColor;
}

.negative-primary-btn:focus,
.negative-secondary-btn:focus {
  border: 2px solid c.$lightColor;
}

// Small button
// .small-btn {
//   padding: 5px;
// }
