$primaryColor: rgb(115, 183, 247);
$secondaryColor: rgb(46, 50, 66);
$grayColor: rgb(233, 233, 233);
$lightColor: rgb(250, 250, 250);
$lightColor20: rgba(250, 250, 250, 0.2);
$white: rgb(255, 255, 255);
$darkDangerColor: rgb(218, 95, 100);
$lightDangerColor: rgb(255, 206, 208);
$darkSuccessColor: rgb(93, 172, 101);
$lightSuccessColor: rgb(192, 238, 202);
$darkWarning: rgb(255, 236, 181);

:root {
  --toastify-color-error: rgba(218, 95, 100, 1);
}

.clr-primary {
  background: $primaryColor;
}

.clr-secondary {
  background: $secondaryColor;
}

.clr-gray {
  background: $grayColor;
}

.clr-light {
  background: $lightColor;
}

.clr-light-20 {
  background: $lightColor20;
}

.clr-white {
  background: $white;
}

.clr-danger {
  background: $lightDangerColor;
}

.clr-warning {
  background: $darkWarning;
}

.fnt-primary {
  color: $primaryColor;
}

.fnt-secondary {
  color: $secondaryColor;
}

.fnt-gray {
  color: $grayColor;
}

.fnt-light {
  color: $lightColor;
}

.fnt-light-20 {
  color: $lightColor20;
}

.fnt-white {
  color: $white !important;
}

.fnt-danger {
  color: $darkDangerColor;
}
