@font-face {
  font-family: "Pramukh";
  src: url("../../assets/fonts/PramukhRounded/PramukhRounded-Variable.woff2")
      format("woff2"),
    url("../../assets/fonts/PramukhRounded/PramukhRounded-Variable.woff")
      format("woff"),
    url("../../assets/fonts/PramukhRounded/PramukhRounded-Variable.ttf")
      format("truetype");
  font-weight: 200 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Switzer";
  src: url("../../assets/fonts/Switzer/Switzer-Variable.woff2") format("woff2"),
    url("../../assets/fonts/Switzer/Switzer-Variable.woff") format("woff"),
    url("../../assets/fonts/Switzer/Switzer-Variable.ttf") format("truetype");
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

// Font families
.fnt-jumbo,
.fnt-sidebar,
.fnt-page-title,
.fnt-subtitle-light,
.fnt-subtitle-bold {
  font-family: "Pramukh";
  transition: all 0.2s;
}

.fnt-label-light,
.fnt-label-bold,
.fnt-input-light,
.fnt-input-bold,
.fnt-song-light,
.fnt-song-regular,
.fnt-song-bold,
.fnt-caption {
  font-family: "Switzer";
  transition: all 0.2s;
}

// Sizes & styles
.fnt-jumbo {
  font-size: 205px;
  line-height: 170px;
  text-transform: uppercase;
}

.fnt-sidebar {
  font-size: 172px;
}

.fnt-page-title {
  font-size: 120px;
}

.fnt-subtitle-light,
.fnt-subtitle-bold {
  font-size: 93px;
  line-height: 1;
}

.fnt-label-light,
.fnt-label-bold {
  font-size: 19px;
}

.fnt-input-light,
.fnt-input-bold {
  font-size: 19px;
}

.fnt-song-light,
.fnt-song-regular,
.fnt-song-bold {
  font-size: 17px;
}

.fnt-caption {
  font-size: 15px;
  line-height: 1.2;
}

// Weights
.fnt-label-bold,
.fnt-song-bold,
.fnt-input-bold {
  font-weight: bold;
}

.fnt-jumbo,
.fnt-page-title {
  font-weight: 900;
}

.fnt-subtitle-light,
.fnt-song-regular,
.fnt-label-light {
  font-weight: normal;
}
.fnt-subtitle-light:hover {
  font-weight: 800;
}

.fnt-sidebar,
.fnt-subtitle-bold,
.fnt-label-bold {
  font-weight: 800;
}

.fnt-input-light,
.fnt-song-light {
  font-weight: 300;
}

.fnt-uppercase {
  text-transform: uppercase;
}

// Overflow
.truncate {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 150px;
}
