@use "../../sass/components/colors" as c;
@import "bootstrap.scss";

.home-radio {
  @extend .btn:active;
  color: red !important;
  background: c.$lightColor;
  outline: none;
}

.custom-radio {
  @extend .btn-outline-light;
  border: 2px solid c.$lightColor;
}
