@use "../../sass/components/colors" as c;
@import "bootstrap";

.custom-radio {
  @extend .btn;
  color: c.$lightColor;
  border: 2px solid c.$lightColor;
  background: unset;
  &:hover {
    color: c.$secondaryColor;
  }
}

.custom-btn-check {
  @extend .btn-check;
  &:checked + label {
    color: c.$secondaryColor;

    background: c.$lightColor;
  }

  // TODO
  // &:checked + label:focus {
  //   outline: none;
  // }
}
