@use "../../sass/components/colors" as c;

.content {
  overflow-y: scroll;
  .playlist-card {
    background: c.$playlistGradient;
    min-height: 200px;

    .heart-wrapper {
      button {
        border: none;
        background: unset;
      }
    }
  }

  .artist-card {
    max-width: 120px;

    img {
      border: 2px solid white;
      border-radius: 50%;
      object-fit: cover;
      width: 120px;
      height: 120px;
      filter: grayscale(100%);
    }

    p {
      max-width: 120px;
    }

    &:hover {
      font-weight: bold;
    }
  }
}
