header {
  position: -webkit-sticky;
  position: sticky;
  z-index: 999;
  top: 0px;
}

.h-85 {
  height: 85px;
}

.logo-container {
  width: 105px;
  height: 45px;
}
.profile-picture {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.nav-link {
  font-weight: 300;
  min-width: 120px;
  text-align: center;
  &:hover {
    font-weight: 700;
    color: inherit !important;
  }
}

.active-navlink {
  font-weight: 700;
}

.user-link {
  min-width: 90px;
}
