@use "../../sass/components/colors" as c;

// ------
// Label
// ------
.positive-select-label {
  color: c.$secondaryColor;
}

.negative-select-label {
  color: c.$lightColor;
}

// ------
// Select
// ------
// Positive
.custom-positive-select {
  color: c.$secondaryColor;
  background: "white";
  border: 2px solid c.$grayColor;
}

select.custom-positive-select {
  color: c.$secondaryColor;
  background-image: linear-gradient(45deg, transparent 50%, c.$grayColor 50%),
    linear-gradient(135deg, c.$grayColor 50%, transparent 50%);
  background-position: calc(100% - 20px) calc(1em + 0px),
    calc(100% - 15px) calc(1em + 0px), calc(100% - 2.5em) 0.3em;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
}

select.custom-positive-select:focus {
  background-image: linear-gradient(45deg, c.$grayColor 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, c.$grayColor 50%),
    linear-gradient(to right, c.$grayColor, c.$grayColor);
  background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em,
    calc(100% - 2.5em) 0.3em;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
  outline: 0;
}

// Negative
.custom-negative-select {
  color: c.$lightColor;
  background: c.$lightColor20;
  border: 2px solid c.$lightColor;
}

select.custom-negative-select {
  color: c.$lightColor;
  background-image: linear-gradient(45deg, transparent 50%, c.$lightColor 50%),
    linear-gradient(135deg, c.$lightColor 50%, transparent 50%);
  background-position: calc(100% - 20px) calc(1em + 0px),
    calc(100% - 15px) calc(1em + 0px), calc(100% - 2.5em) 0.3em;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
}

select.custom-negative-select:focus {
  background-image: linear-gradient(45deg, c.$lightColor 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, c.$lightColor 50%),
    linear-gradient(to right, c.$lightColor, c.$lightColor);
  background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em,
    calc(100% - 2.5em) 0.3em;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
  outline: 0;
}

.flex-select {
  width: 30px;
}

// ------
// Custom Option element
// ------

option.custom-option {
  background-color: c.$primaryColor;
}

// ------
// Default styling
// ------
select {
  /* styling */
  background-color: white;
  display: inline-block;

  /* reset */
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}
select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}
